# DOCKER IGNORE
# https://docs.docker.com/engine/reference/builder#dockerignore-file

# macos
# ------------------------------------------------------------------------------
.DS_*
._*

# testing
# ------------------------------------------------------------------------------
**/__mocks__/
**/__snapshots__/
**/__tests__/

# types
# ------------------------------------------------------------------------------
**/*.d.mts
**/interfaces/
**/types/
src/types.mts
