# SEE: https://docs.docker.com/engine/reference/builder#dockerignore-file

### macOS ###
# General
**/.DS_*
**/.AppleDouble
**/.LSOverride

# Thumbnails
**/._*

### Node ###
# Logs
**/logs
**/*.log*

# Yarn v2 (Not using Zero-Installs)
# see: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

### Testing ###
# General
**/__doubles__
**/__tests__
**/*.spec.ts

### Misc ###
# Project tools
tools/helpers
!tools/helpers/match-specifier.cjs
!tools/helpers/tsconfig-paths.cjs
