# macOS
# ------------------------------------------------------------------------------
**/._*
**/.DS_*

# Node
# ------------------------------------------------------------------------------
**/node_modules/
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.zip
.npm
logs
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
!**/__fixtures__/node_modules/
!**/__fixtures__/**/*.log

# Environment
# ------------------------------------------------------------------------------
**/.env
**/.env*.local
**/.env.me
**/.env.repo
*.service-account.json

# TypeScript
# ------------------------------------------------------------------------------
*.tsbuildinfo

# Testing
# ------------------------------------------------------------------------------
**/.vitest-reports/
**/__tests__/reports/*
**/coverage/
**/tsconfig*temp.json
*.lcov
codecov

# ESLint
# ------------------------------------------------------------------------------
**/.eslintcache

# Builds
# ------------------------------------------------------------------------------
**/dist/
!**/__fixtures__/**/dist/
!**/typings/**/dist/

# Releases
# ------------------------------------------------------------------------------
**/RELEASE_NOTES.md

# Vercel
# ------------------------------------------------------------------------------
**/.vercel/

# Misc
# ------------------------------------------------------------------------------
**/*config.*.timestamp*
**/.temp/
**/*.scratch.*
**/scratch.*
