# Docker Package Registry Configurations
# SEE: https://docs.npmjs.com/docker-and-private-modules

# Registry Configuration - GitHub Packages
@flex-development:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${PAT_GPR}

# Registry Configuration - Yarn
registry=https://registry.yarnpkg.com
//registry.yarnpkg.com/:_authToken=${NPM_TOKEN}
