# Prettier Ignore
# See: https://prettier.io/docs/en/ignore.html

.husky/_/*
.yarn/*
coverage/*
dist/*
letsencrypt/*
node_modules/*

.env
.env.*
.eslintignore
.gitconfig
.gitignore
.gitkeep
.markdownlintignore
.pnp.*
.prettierignore
CHANGELOG.md
yarn.lock
